#waybar {
  font-family: "SF Pro Display", Cantarell, Noto Sans, sans-serif;
  font-size: 18px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: 2px solid #414868;
  border-radius: 10px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: rgba(217, 216, 216, 1);
  /*background: alpha(#1a1b26, .55);*/
  background: alpha(#24283b, .55);

} 

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 4px;
  color: #f8f8f2;
  border: 2px solid rgba(9, 85, 225, 0);
  border-radius: 0px;
  min-width: 30px;
}

#workspaces button.empty {
  color: #565f89;
}

#workspaces button.visible {
  color: #f8f8f2;
}

#workspaces button.focused {
  border-top: 2px solid #7aa2f7;
  border-bottom: 2px solid #7aa2f7;
}

#workspaces button.urgent {
  color: #a96d1f;
  /*color: white;*/
}

#workspaces button:hover {
  box-shadow: inherit;
  border-top: 2px solid #7aa2f7;
  border-bottom: 2px solid #7aa2f7;
  color: #7aa2f7;
  background: inherit; 
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
  color: #7aa2f7;
}

#workspaces button.focused:hover {
  color: #bb9af7;
}

#workspaces button.active {
  border-bottom: 2px solid #7aa2f7;
}

#pulseaudio {
  /* font-size: 26px; */
  color: #bb9af7;
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color:#ee2e24;
}

#custom-logo {
  font-size: 18px;
  color: #1793d0;
  margin-right: -4px;
}

#tray {
  border-left: 2px hidden #7aa2f7;
  border-right: 2px hidden #7aa2f7;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  border-radius: 10px;
}
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#bluetooth {
  padding-right: 10px;
}
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather {
  color:  #7dcfff;
  margin-bottom: -1px;
}
#custom-minimize {
  color:  #f7768e;
  margin-bottom: -1px;
}
#custom-date {
  color:  #e0af68;
}
#custom-mail,
#custom-media {
  margin: 0px 0px 0px 10px;
  padding: 0 5px;
  /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

#clock {
/*  margin:     0px 16px 0px 10px;*/
/*  min-width:  140px;*/
  color: #7aa2f7;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.full {
  color: #9ece6a;
  margin-right: -5px;
  margin-bottom: -1px;
}

#battery.discharging.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.discharging.critical {
  color: rgba(238, 46, 36, 1);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
#custom-logo {
  background-image: url('~/.config/waybar/icons/arch-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
