@import "./colors.css";
#waybar {
  font-family: "SF Pro Display", Cantarell, Noto Sans, sans-serif;
  font-size: 18px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: 2px solid @color8;
  border-radius: 10px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: @foreground;
  /*background: alpha(#1a1b26, .55);*/
  background: alpha(@background, .8);

} 

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 4px;
  color: @foreground;
  border: 2px solid alpha(@color4, 0);
  border-radius: 0px;
  min-width: 30px;
}

#workspaces button.empty {
  color: alpha(@color8, 0.3);
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.focused {
  border-top: 2px solid @color4;
  border-bottom: 2px solid @color4;
}

#workspaces button.urgent {
  color: @color3;
  /*color: white;*/
}

#workspaces button:hover {
  box-shadow: inherit;
  /*border-top: 2px solid @color4;
  border-bottom: 2px solid @color4;*/
  color: @color4;
  background: inherit; 
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
  color: @color4;
}

#workspaces button.focused:hover {
  color: @color4;
}

#workspaces button.active {
  color: @color5;
}

#pulseaudio {
  /* font-size: 26px; */
  color: @color5;
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color:@color1;
}

#custom-logo {
  font-size: 18px;
  color: #1793d0; /* Hard-coded Arch linux logo */
  margin-right: -4px;
}

#tray {
  border-left: 2px hidden @color4;
  border-right: 2px hidden @color4;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  border-radius: 10px;
}
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#bluetooth {
  padding-right: 10px;
}
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather {
  color:  @color6;
  margin-bottom: -1px;
}
#custom-minimize {
  color:  @color1;
  margin-bottom: -1px;
}
#custom-date {
  color:  @color3;
}
#custom-mail,
#custom-media {
  margin: 0px 0px 0px 10px;
  padding: 0 5px;
}

#clock {
  color: @color4;
}

#battery.warning {
  color: @color3;
}

#battery.critical {
  color: @color1;
}

#battery.full {
  color: @color2;
  margin-right: -5px;
  margin-bottom: -1px;
}

#battery.discharging.warning {
  color: @color3;
}

#custom-storage.discharging.critical {
  color: @color1;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
#custom-logo {
  background-image: url('~/.config/waybar/icons/arch-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
